## Numeric Types

### Integers

In [ ]:
a = 7
print a

### Floating Point Numbers

In [ ]:
b = 3.14
b

### Boolean

In [ ]:
bool_val = True
bool_val

### Complex Numbers

In [ ]:
J = 17
x = 5
c = 5+5J
c
print J*x

## Mathematical Operations

Operations include:
* Addition
* Subtraction
* Multiplication
* Division
* Powers
* Modulus

In [ ]:
a = 42
b = 3.14

#### Addition

In [ ]:
ans = a+b
ans

#### Subtraction

In [ ]:
ans = a-b
print ans

#### Multiplication

In [ ]:
print a * b

#### Division

In [ ]:
print a / b

In [ ]:
print 5/2.0

#### Power

In [ ]:
print 2**10

In [ ]:
print pow(2,10)

#### Modulus

In [ ]:
print 5 % 2

## Numerical Tools

Tools include:
* Power
* Absolute value
* Sum
* Minimum
* Maximum
* Round

#### Power

In [ ]:
print pow(2,30)

#### Absolute value

In [ ]:
print abs(-4)

#### Sum

In [ ]:
sum([1,2,3,4,5])

#### Minimum

In [ ]:
min([1,2,3,4,5])

#### Maximum

In [ ]:
max([1,2,3,4,5])

#### Round

In [ ]:
print round(3.9)

In [ ]:
print 8/9.0

## Strings

#### Definition

In [ ]:
hello = "Hello world"
print hello

In [ ]:
hello_2 = 'Hello world'
print hello_2

#### Escape sequences

In [ ]:
statement = 'This is Drew\'s class'
print statement

##### Split

In [ ]:
statement = 'This is Drew\'s class'
print statement[:4]
print statement[4:]

In [ ]:
print statement[::-1]

## Lists

#### Definition

In [ ]:
my_list = [1,2,3,4]
print type(my_list)
print my_list

#### Membership

In [ ]:
my_list = [1,2,3,4]
print '3' in my_list

#### Append

In [ ]:
my_list = [1,2,3,4]
my_list.append(7)
print my_list

#### Insert

In [ ]:
print my_list
my_list.insert(2,100)
print my_list

In [ ]:
print my_list
my_list.insert(50,10)
print my_list

#### Pop

In [ ]:
print my_list

In [ ]:
print my_list.pop()

In [ ]:
print my_list

#### Count

In [ ]:
my_list = [1,2,3,4]
print my_list
my_list = my_list*5
print my_list
print my_list.count(7)

## Tuple

#### Definition

In [ ]:
my_tup = 1,2,3,4
print type(my_tup)
print my_tup

#### Membership

In [ ]:
2 in my_tup

#### Count

In [ ]:
my_tup.count(1)

## Common String, List, and Tuple Functions

#### Indexing

In [ ]:
my_list = [1,2,3,4,5]
my_tup = (1,2,3,4,5)
my_string = '12345'

print my_string[4]

#### Slicing

In [ ]:
print my_list[:3]

#### Concatenating

In [ ]:
print my_list + [6,7,8]

#### Repeating

In [ ]:
print my_list *4

## Sets

#### Definition

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
print set_num
set_val = {'a','b','c',1,2,3}
print set_val##### Lenght (Cardinality of a set)

##### Lenght (Cardinality of a set)

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
set_val = {'a','b','c',1,2,3}

print len(set_num)
print len(set_val)

##### In (Checking for membership)

In [ ]:
print 'a' in set_num
print 'a' in set_val

##### Not in (Checking for lack of membership)

In [ ]:
print 'a' not in set_num
print 'a' not in set_val

##### Subset (Checking if one set is contained in another)

In [ ]:
print set_num.issubset(set_val)
print set_val.issubset(set_num)

##### Superset (Checking if one set contains anther)

In [ ]:
print set_num.issuperset(set_val)
print set_val.issuperset(set_num)

##### Union (Combines the elements of two sets)

In [ ]:
print set_val
print set_num

In [ ]:
print set_num.union(set_val)

##### Intersetcion (Finds the overlap of two sets)

In [ ]:
print set_num.intersection(set_val)

In [ ]:
print set_val.intersection(set_val)

##### Difference (Finds the elements in one set that are not in another)

In [ ]:
print set_num.difference(set_val)

In [ ]:
print set_val.difference(set_num)

##### Symmetric Difference (Finds elements in either of the sets that aren't in both)

In [ ]:
print set_num.symmetric_difference(set_val)

In [ ]:
print set_val.symmetric_difference(set_num)

##### Copy (Creates a copy)

In [ ]:
print set_val.copy()

In [ ]:
print set_val.copy() is set_val
print set_val.copy() == set_val

## Dictionaries

#### Definition

In [ ]:
my_dict = {}
my_dict = dict()

my_dict = {'name':'Drew'}
my_dict['age'] = 32
print my_dict

#### Keys

In [ ]:
print my_dict.keys()

#### Values

In [ ]:
print my_dict.values()

#### Items

In [ ]:
new_list = my_dict.items()
print new_list

In [ ]:
new_list[0] = ('age', 57)

In [ ]:
print new_list

In [ ]:
new_dict = dict(new_list)
print new_dict

#### Pop

In [ ]:
print my_dict.pop('age')

In [ ]:
print my_dict

In [ ]:
my_dict['age'] = 32

In [ ]:
print my_dict

#### Popitem

In [ ]:
print my_dict.popitem()

In [ ]:
print my_dict

#### Set Default

In [ ]:
print my_dict

In [ ]:
print my_dict['age']

In [ ]:
print my_dict['job']

In [ ]:
print my_dict.setdefault('job',False)

In [ ]:
print my_dict.setdefault('age',False)